@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Montserrat:wght@300;400;900&display=swap');

/***************
variables
***************/
$primary: 'Montserrat', sans-serif;
$secondary: 'Faster One', cursive;
$white: #fff;
$green: #8DF48B;
$black: #272B34;
$red: #D85080;
$fontSize: 16px;
$transition: .4s ease;
$padding: 50px 0;

/***************
basic styles
***************/
body {
    font-family: $primary;
    font-size: $fontSize;
    line-height: 1.5;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

/***************
mixins
***************/
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    font-size: 1.25rem;
    background: $red;
    color: $white;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 5px;
    line-height: 1.5;
    border: none;
    transition: $transition;
    &:hover {
        background: $black;
    }
}
@mixin h2($color) {
    color: $color;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: $primary;
}
@mixin line($bgColor) {
    background: $bgColor;
    content: "";
    height: 5px;
    display: block;
    border: none;
    width: 20%;
    margin: 30px auto;
}

/***************
main header
***************/
.mainHeader {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 81vh;
    article {
        padding-top: 50px;
        .navbar {
            background: $black;
            border-bottom: 5px solid $green;
            padding: 0;
            .navbar-brand {
                background: $green;
                font-size: 2rem;
                font-family: $secondary;
                font-weight: 900;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $black;
                padding: 10px;
                transition: $transition;
                &:hover {
                    background: $black;
                    color: $green;
                }
            }
            .navbar-nav {
                padding-right: 15px;
                .nav-link {
                    color: $green;
                    text-transform: uppercase;
                    transition: $transition;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    hgroup {
        margin-top: 240px;
        h1 {
            font-size: 6rem;
            color: $green;
            text-shadow: 5px 5px 20px $black;
            font-weight: 900;
        }
        p {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
}

/***************
o nama
***************/
.o-nama {
    background: $black;
    padding: $padding;
    h2 {
        @include h2($white);
        &::after {
            @include line($green);
        }
    }
    p {
        font-size: 1.25rem;
        font-weight: 300;
    }
}

/***************
teme
***************/
.teme {
    background: $green;
    padding: $padding;
    h2 {
        @include h2($black);
        &::after {
            @include line($black);
        }
    }
    p {
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 1.75rem;
        margin-bottom: 40px;
        font-weight: 900;
        letter-spacing: 2px;
    }
    i {
        height: 200px;
        width: 200px;
        line-height: 200px;
        background: $black;
        color: $white;
        font-size: 4rem;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }
}

/***************
kontakt
***************/
#kontakt {
    padding: $padding;
    background-image: linear-gradient(rgba(241, 241, 241, .8), rgba(241, 241, 241, .8)), url(img/cta.jpg);
    background-position: center;
    background-size: cover;
    h2 {
        @include h2($black);
        &::after {
            @include line($red);
        }
    }
    p {
        font-size: 1.25rem;
        letter-spacing: 2px;
        font-weight: 300;
    }
    p:nth-child(3) {
        background: $green;
        padding: 5px;
        margin-bottom: 20px;
    }
    button {
        @include btn;
    }
}

/***************
footer
***************/
footer {
    padding: 25px 0;
    background: $black;
    color: $white;
    border-bottom: 5px solid $green;
    p {
        font-size: 1rem;
        a:first-child {
            color: $green;
            font-size: 1rem;
            transition: $transition;
        }
        a:last-child {
            color: $green;
            font-size: 1rem;
            text-transform: uppercase;
            transition: $transition;
        }
        a:hover {
            color: $white;
        }
    }
}

/***************
blogHeader
***************/
.mainHeader {
    background-image: url(img/blog_header.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    article {
        padding-top: 50px;
        .navbar {
            background: $black;
            border-bottom: 5px solid $green;
            padding: 0;
            .navbar-brand {
                background: $green;
                font-size: 2rem;
                font-family: $secondary;
                font-weight: 900;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $black;
                padding: 10px;
                transition: $transition;
                &:hover {
                    background: $black;
                    color: $green;
                }
            }
            .navbar-nav {
                padding-right: 15px;
                .nav-link {
                    color: $green;
                    text-transform: uppercase;
                    transition: $transition;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    hgroup {
        margin-top: 180px;
        h1 {
            font-size: 6rem;
            color: $green;
            text-shadow: 5px 5px 20px $black;
            font-weight: 900;
        }
        p {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
}

/***************
blog
***************/
.blog {
    background: $black;
    padding: $padding;
    .col-md-7 {
        .post {
            position: relative;
            .featured-image {
                position: relative;
                img {
                    border-radius: 50px 0 0;
                }
                p {
                    background: $green;
                    border: 1px solid $black;
                    border-radius: 3px;
                    display: inline-block;
                    padding: 5px;
                    position: absolute;
                    left: 30px;
                    top: 30px;
                }
            }
            .text {
                background: $green;
                border: 1px solid $black;
                border-radius: 0 0 50px;
                width: 90%;
                position: absolute;
                top: 420px;
                left: 32px;
                h3 {
                    font-weight: 900;
                    letter-spacing: 2px;
                    font-size: 1.75rem;
                    margin-bottom: 10px;
                }
                a {
                    @include btn;
                }
            }
        }
        .post:last-child {
            margin-top: 270px;
            margin-bottom: 270px;
        }
    }
    .col-md-4 {
        .widget {
            background: $green;
            border-radius: 50px 0 50px;
            h3 {
                font-weight: 900;
                letter-spacing: 2px;
                font-size: 1.75rem;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 0;
                li {
                    a {
                        color: $black;
                        border-bottom: 1px solid $black;
                        text-decoration: none;
                        &:hover {
                            color: $white;
                            background: $black;
                        }
                    }
                }
            }
        }
        .widget:last-child {
            margin-top: 90px;
        }
    }
}