@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Montserrat:wght@300;400;900&display=swap");
/***************
variables
***************/
/***************
basic styles
***************/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/***************
mixins
***************/
/***************
main header
***************/
.mainHeader {
  background-image: url(img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 81vh;
}

.mainHeader article {
  padding-top: 50px;
}

.mainHeader article .navbar {
  background: #272B34;
  border-bottom: 5px solid #8DF48B;
  padding: 0;
}

.mainHeader article .navbar .navbar-brand {
  background: #8DF48B;
  font-size: 2rem;
  font-family: "Faster One", cursive;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #272B34;
  padding: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainHeader article .navbar .navbar-brand:hover {
  background: #272B34;
  color: #8DF48B;
}

.mainHeader article .navbar .navbar-nav {
  padding-right: 15px;
}

.mainHeader article .navbar .navbar-nav .nav-link {
  color: #8DF48B;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainHeader article .navbar .navbar-nav .nav-link:hover {
  color: #fff;
}

.mainHeader hgroup {
  margin-top: 240px;
}

.mainHeader hgroup h1 {
  font-size: 6rem;
  color: #8DF48B;
  text-shadow: 5px 5px 20px #272B34;
  font-weight: 900;
}

.mainHeader hgroup p {
  font-size: 1.25rem;
  font-weight: 300;
}

/***************
o nama
***************/
.o-nama {
  background: #272B34;
  padding: 50px 0;
}

.o-nama h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.o-nama h2::after {
  background: #8DF48B;
  content: "";
  height: 5px;
  display: block;
  border: none;
  width: 20%;
  margin: 30px auto;
}

.o-nama p {
  font-size: 1.25rem;
  font-weight: 300;
}

/***************
teme
***************/
.teme {
  background: #8DF48B;
  padding: 50px 0;
}

.teme h2 {
  color: #272B34;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.teme h2::after {
  background: #272B34;
  content: "";
  height: 5px;
  display: block;
  border: none;
  width: 20%;
  margin: 30px auto;
}

.teme p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.teme h3 {
  font-size: 1.75rem;
  margin-bottom: 40px;
  font-weight: 900;
  letter-spacing: 2px;
}

.teme i {
  height: 200px;
  width: 200px;
  line-height: 200px;
  background: #272B34;
  color: #fff;
  font-size: 4rem;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

/***************
kontakt
***************/
#kontakt {
  padding: 50px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 241, 241, 0.8)), to(rgba(241, 241, 241, 0.8))), url(img/cta.jpg);
  background-image: linear-gradient(rgba(241, 241, 241, 0.8), rgba(241, 241, 241, 0.8)), url(img/cta.jpg);
  background-position: center;
  background-size: cover;
}

#kontakt h2 {
  color: #272B34;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

#kontakt h2::after {
  background: #D85080;
  content: "";
  height: 5px;
  display: block;
  border: none;
  width: 20%;
  margin: 30px auto;
}

#kontakt p {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 300;
}

#kontakt p:nth-child(3) {
  background: #8DF48B;
  padding: 5px;
  margin-bottom: 20px;
}

#kontakt button {
  font-size: 1.25rem;
  background: #D85080;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 5px;
  line-height: 1.5;
  border: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#kontakt button:hover {
  background: #272B34;
}

/***************
footer
***************/
footer {
  padding: 25px 0;
  background: #272B34;
  color: #fff;
  border-bottom: 5px solid #8DF48B;
}

footer p {
  font-size: 1rem;
}

footer p a:first-child {
  color: #8DF48B;
  font-size: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

footer p a:last-child {
  color: #8DF48B;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

footer p a:hover {
  color: #fff;
}

/***************
blogHeader
***************/
.mainHeader {
  background-image: url(img/blog_header.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.mainHeader article {
  padding-top: 50px;
}

.mainHeader article .navbar {
  background: #272B34;
  border-bottom: 5px solid #8DF48B;
  padding: 0;
}

.mainHeader article .navbar .navbar-brand {
  background: #8DF48B;
  font-size: 2rem;
  font-family: "Faster One", cursive;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #272B34;
  padding: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainHeader article .navbar .navbar-brand:hover {
  background: #272B34;
  color: #8DF48B;
}

.mainHeader article .navbar .navbar-nav {
  padding-right: 15px;
}

.mainHeader article .navbar .navbar-nav .nav-link {
  color: #8DF48B;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainHeader article .navbar .navbar-nav .nav-link:hover {
  color: #fff;
}

.mainHeader hgroup {
  margin-top: 180px;
}

.mainHeader hgroup h1 {
  font-size: 6rem;
  color: #8DF48B;
  text-shadow: 5px 5px 20px #272B34;
  font-weight: 900;
}

.mainHeader hgroup p {
  font-size: 1.25rem;
  font-weight: 300;
}

/***************
blog
***************/
.blog {
  background: #272B34;
  padding: 50px 0;
}

.blog .col-md-7 .post {
  position: relative;
}

.blog .col-md-7 .post .featured-image {
  position: relative;
}

.blog .col-md-7 .post .featured-image img {
  border-radius: 50px 0 0;
}

.blog .col-md-7 .post .featured-image p {
  background: #8DF48B;
  border: 1px solid #272B34;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.blog .col-md-7 .post .text {
  background: #8DF48B;
  border: 1px solid #272B34;
  border-radius: 0 0 50px;
  width: 90%;
  position: absolute;
  top: 420px;
  left: 32px;
}

.blog .col-md-7 .post .text h3 {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.blog .col-md-7 .post .text a {
  font-size: 1.25rem;
  background: #D85080;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 5px;
  line-height: 1.5;
  border: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.blog .col-md-7 .post .text a:hover {
  background: #272B34;
}

.blog .col-md-7 .post:last-child {
  margin-top: 270px;
  margin-bottom: 270px;
}

.blog .col-md-4 .widget {
  background: #8DF48B;
  border-radius: 50px 0 50px;
}

.blog .col-md-4 .widget h3 {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.blog .col-md-4 .widget ul {
  padding-left: 0;
}

.blog .col-md-4 .widget ul li a {
  color: #272B34;
  border-bottom: 1px solid #272B34;
  text-decoration: none;
}

.blog .col-md-4 .widget ul li a:hover {
  color: #fff;
  background: #272B34;
}

.blog .col-md-4 .widget:last-child {
  margin-top: 90px;
}
/*# sourceMappingURL=style.css.map */